{% extends 'base.html' %}
{% block title %}DeviceLogReturn{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
    <h1 style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
        Create Devicel Return
    </h1>
    <br>
    <h1 style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
          <span style="color: green;">{{msg|capfirst}}</span>
    </h1>
    <br>
    
    <div style="width: 50%; margin: auto; margin-bottom: 100px;">
     
        <form method= 'POST' >
            {% csrf_token %}

            {{forms|crispy}}
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>

    </div>
{% endblock body %}